body{
    background-color:dimgray;
}

.container {
    margin-top:30px;
    width:90%;
    height:auto;
    border-radius:20px;
}

.center-block {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.formGroup {
    margin-top:10px;
    margin-bottom:10px;
}

.form-control .input-group {
    display:table-cell;
}


.form-control:active{
    box-shadow: mediumpurple;
}

.submitButton {
    background-color:palevioletred;
    border:palevioletred;
}

#chartdiv {
    margin-bottom:20px;
}
.alertError {
    background-color:lightcoral;
    margin-left:-75px;
    margin-top:-30px;
    border-radius:10px;
}
.texterror {
    color:darkred;
}

.line {
    height:20px;
    width:20px;
}

#wait{
    color: lightgrey;
    font-family: 'Lobster', cursive;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
    to {
        width:20px;
    }
}
@-webkit-keyframes ellipsis {
  to {
    width: 20px;    
  }
}
.input-group-btn {
    font-size:0;
    white-space: nowrap;
}

.submitButton:hover {
    background-color:mediumpurple;
    border-color:mediumpurple;
}

.stock {
    background-color:white;
    border:1px solid palevioletred;
    border-left-width:5px;
}

.fa-arrow-up {
    color:mediumpurple;
    margin-top:30px;
    font-size:50px;
}

.fa-spinner {
    color: mediumpurple;
    margin-left:50px;
    margin-top:10px;
    position:center;
    font-size: 70px;
}

.stock:hover {
    border-color:mediumpurple;
}

.noData {
    font-family: 'Lobster', cursive;
}
h1 {
    color:palevioletred;
}