<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
    <head>
        <% include ./partials/header %>
    </head>
    
    <body>
        <h1> hello </h1>
        <section ng-view></section>
        
        <% include ./partials/links %>
        <script>
       /*   var socket = io.connect('http://localhost:3030');

            socket.on('stuff', function(stuff) {
                console.log('hi',stuff);
            });*/
        </script>
    </body>
</html>
