<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
    <head>
        <% include ./partials/header %>
    </head>
    
    <body>
        <h1> hello </h1>
        <% include ./partials/links %>
    </body>
</html>
